################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalaryTax/SalaryTax/bin/Debug/netcoreapp2.0
/SalaryTax/SalaryTax/obj
/SalaryTax/.vs/SalaryTax/v15
